<div class="row">
    {% for job in jobs %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        {% if job.esteActiv == false %}
                            <i class="fa fa-toggle-off pull-right" style="color: red;"></i>
                        {% endif %}
                        {{ job.titluJob|truncate(30, true)|raw }}</p>
                    </h4>
                </div>

                <div class="panel-body">
                    <p><b>Data</b>: {{ job.dataPublicarii|date('Y-m-d H:i:s') }}</p>
                    <p><b>Author</b>: {{ job.user.username }}</p>
                    <p><b>City</b>: {{ job.city.cityName }}</p>
                    <br />
                    <a href="{{ path('jobs_show', { 'id': job.id }) }}" class="btn btn-default">Read More</a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and job.user.id == app.user.id%}
                        <a href="{{ path('jobs_edit', { 'id': job.id }) }}" class="btn btn-link">edit</a>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe,
                vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="{{ path('jobs_new') }}">Create a new job</a>
        </div>
    </div>
</div>
