{% extends 'base.html.twig' %}

{% block title %}Edit: {{ job.titluJob }}{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit
                <small>#{{ job.id }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('homepage') }}">Home</a></li>
                <li><a href="{{ path('jobs_index') }}">Jobs</a></li>
                <li class="active">Edit</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <button type="submit" type="button" class="btn btn-success pull-right">Save</button>

    {{ form_end(edit_form) }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and job.user.id == app.user.id%}
        <span>
            {{ form_start(delete_form) }}
                <input class="btn btn-link" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </span>
    {% endif %}

    <hr>
    <div class="tags">

        <span class="btn-info">
            <a href="{{ path('jobs_index') }}">Back to the list</a>
        </span>
    </div>
    <div class="clear"></div>

{% endblock %}
