{% extends 'base.html.twig' %}

{% block title %}{{ job.city.cityName }} | Detalii: {{ job.titluJob }}{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ job.titluJob }}
                <small>#{{ job.id }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('homepage') }}">Home</a></li>
                <li><a href="{{ path('jobs_index') }}">Jobs</a></li>
                <li class="active">Show</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and job.user.id == app.user.id%}
            <span class="btn btn-default pull-right" style="margin-left: 10px;">
                <a href="{{ path('jobs_edit', { 'id': job.id }) }}">Edit</a>
            </span>
            <span class="pull-right">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </span>
        {% endif %}
    </div>
    <div class="clear"></div>

    <p><b>Data</b>: {{ job.dataPublicarii|date('Y-m-d H:i:s') }}</p>
    <p><b>Author</b>: {{ job.user.username }}</p>
    <p><b>City</b>: {{ job.city.cityName }}</p>

    <p>
        <b>Activ</b>:
        {% if job.esteActiv == false %}
            <i class="fa fa-toggle-off" style="color: red;"></i>
        {% else %}
            <i class="fa fa-toggle-on" style="color: green;"></i>
        {% endif %}
    </p>

    <hr>

    <p>{{ job.descriere|nl2br }}</p>

    <div class="tags">
        <span class="btn-info">
            <a href="{{ path('jobs_index') }}">Back to the list</a>
        </span>
    </div>
    <div class="clear"></div>

{% endblock %}
